@import url( 
"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"); 

* { 
	padding: 0; 
	margin: 0; 

	transition: all 0.3s ease-in-out; 
} 

body { 
	font-family: "Montserrat", sans-serif; 
	background-color: #060c21; 
} 

main { 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
} 

a { 
	text-decoration: none; 
	font-size: 1.125rem; 
	font-weight: 600; 
} 
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  }
  
  .main h1 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
	color: #EFEFEF;
  }
  
  .main h2 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 2rem;
	color: #EFEFEF;
  }
  
  .main h3 {
	font-size: 1.125rem;
	font-weight: 500;
	margin-bottom: 2rem;
	color: #EFEFEF;
  }
  
  .main p {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 2rem;
	color: #EFEFEF;
  }
  
  .main a {
	font-size: 1.125rem;
	font-weight: 600;
	color: #EFEFEF;
  }
  
  .main a:hover {
	text-decoration: underline;
  }
  
  .main .button {
	display: inline-block;
	padding: 1rem 2rem;
	border-radius: 15px;
	background-color: #EFEFEF;
	color: #060c21;
	font-size: 1.125rem;
	font-weight: 600;
	margin-bottom: 2rem;
	transition: all 0.3s ease-in-out;
  }
  
  .main .button:hover {
	transform: scale(1.05);
	filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.2));
  }
  
  .main .button:active {
	transform: scale(1);
	filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
  }
  
  .main .button span {
	margin-left: 0.5rem;
  }
  
  .main .button img {
	height: 1.5rem;
	aspect-ratio: 1;
  }
  
  .main .button:hover>* {
	transform: scale(1.1);
}
.logo { 
	position: relative; 
	height: 100%; 
	width: 100%; 
	border-radius: 50%; 
	margin-top: 8%; 
} 

.logoContainer { 
	margin: 1rem 0; 
	position: relative; 
	height: 225px; 
	aspect-ratio: 1; 
	border-radius: 50%; 
	margin-bottom: 2rem; 
} 

.links { 
	display: flex; 
	flex-direction: column;
	margin-bottom: 2rem;
	margin-left: 2rem;  
	margin-right: 2rem;  
} 

.link { 
	height: 2.75rem; 
	width: 600px; 

	display: flex; 
	align-items: center; 
	justify-content: center; 
	color: #000; 

	margin: 0.5rem 0; 
	border-radius: 15px; 
} 

.greetings { 
	font-size: 2rem; 
	font-weight: 700; 
	margin-bottom: 2rem; 
	color: #EFEFEF; 
} 

.about { 
	font-size: 1rem; 
	font-weight: 500; 
	margin-bottom: 2rem;
	margin-left: 2rem; 
	color: #EFEFEF; 
} 

.link span { 
	width: 80%; 
	text-align: center; 
} 

.link img { 
	height: 2rem; 
	aspect-ratio: 1; 
} 

.linkIcon { 
	height: 2rem !important; 
	aspect-ratio: 1; 
} 

.link:nth-child(1) { 
	background: linear-gradient(to bottom left,#360465 ,#AA54E6 ), 
		#EBC7E8; 
	color: #EFEFEF; 
} 

.link:nth-child(2) { 
    background: linear-gradient(to bottom left,#360465 ,#AA54E6 ), 

		#BFACE0; 
	color: #EFEFEF; 
} 

.link:nth-child(3) { 
    background: linear-gradient(to bottom left,#360465 ,#AA54E6 ), 

		#A084CA; 
	color: #EFEFEF; 
} 

.link:nth-child(4) { 
    background: linear-gradient(to bottom left,#360465 ,#AA54E6 ), 

		#645CAA; 
	color: #EFEFEF; 
} 

.link:nth-child(5) { 
    background: linear-gradient(to bottom left,#360465 ,#AA54E6 ), 

		#4b4585; 
	color: #EFEFEF; 
} 

.link:nth-child(6) { 
    background: linear-gradient(to bottom left,#360465 ,#AA54E6 ), 

		#413b71; 
	color: #EFEFEF; 
} 

.link:nth-child(7) { 
    background: linear-gradient(to bottom left,#360465 ,#AA54E6 ), 
 
		#352e5c; 
	color: #EFEFEF; 
} 

.link:nth-child(8) { 
    background: linear-gradient(to bottom left,#360465 ,#AA54E6 ), 
 
		#211d38; 
	color: #EFEFEF; 
} 

.link:hover { 
	filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.2)); 
	transform: scale(1.05); 
} 

.link>* { 
	transition: all 0.3s ease-in-out; 
	transition-delay: 0.1s; 
} 

.link:hover>* { 
	transform: scale(1.1); 
	filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.2)); 
} 

@media (max-width: 600px) { 
	body { 
		background-size: 100%; 
	} 

	.logo img { 
		width: 200px; 
	} 

	.link span { 
		width: 70%; 
		text-align: center; 
	} 

	.link { 
		width: 95vw; 
	} 

	.link:hover { 
		transform: scale(1.01); 
	} 
}
.image {
    width: 108px;
    height: 40px;
  }
  
  .image .artboard {
    position: fixed;
    width: 108px;
    height: 40px;
    top: 0;
    left: 0;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
    object-fit: cover;
  }

footer {
  
    color: #EFEFEF;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #EFEFEF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


h1{
	/* senter the text and make it white */
	text-align: center;
	color: #EFEFEF;
	/* add some margin to the top */
	margin-top: 10rem;

}